.about-wrapper {
  display: flex;
  flex-direction: column;

  p {
    // padding: 0 20px;
  }
}

.about-container {
  @include themify($themes) {
    background-color: themed('aboutContainerBackground');
  }

  display: flex;
  flex-direction: column;
  // background-color: white;
  min-height: 20vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.about-container a {
  text-decoration: none;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "title title title title"
  "mem1 mem2 mem3 mem4";
}

.section-title {
  grid-area: title;
  padding-bottom: 20px;
}

.circle-icon {
  @include themify($themes) {
    background-color: themed('teamMemberCircle');
  }

  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: lightgreen;
  border-radius: 100%;
  width: 8em;
  height: 8em;
  margin-bottom: 10px;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 10px 0 10px;
  // margin: 0 10px;
  width: 100%;
  height: 100%;
}

.about-teammate {
  @include themify($themes) {
    color: themed('textColor');

    &:hover {
      background: themed('teamMember');
      box-shadow: 0px 5px 10px themed('shadow');
      color: themed('teamMemberText');
    }
  }

  color: $off-black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  // width: 50%;
  margin: 0 10px;

  &:hover{
    // background: lightgreen;
    // box-shadow: 0px 5px 10px #888888;
    transition: 0.3s ease-in-out;
    transform: scale(1.2, 1.2);
  }
}

@media (max-width: 1100px) {
  .about-teammate {
  width: 75%;
}
}

@media (max-width: 768px) {
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "mem1 mem2"
    "mem3 mem4";
  }
  .team-member {
    margin: 10px 0;
    width: 50%;
  }
  .circle-icon {
    width: 10em;
    height: 10em;
  }

  .about-teammate {
    width: 100%;
    display: flex;
    justify-content: center;

    &:hover {
      transform: scale(1.05, 1.05);
    }
  }
}

@media (max-width: 600px) {
  .team-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto 100px;
    grid-template-areas:
    "title title"
    "mem1 mem2"
    "mem3 mem4";
    padding: 0;
  }

  
  .about-teammate:hover {
    transform: scale(1.05, 1.05);
  }
}

@media (max-width: 380px) {
  .circle-icon {
    width: 10em;
    height: 10em;
  }

  .team-grid {
    display:grid;
    grid-template-columns: 1fr;
    // grid-template-rows: auto 100px;
    grid-template-areas:
    "title"
    "mem1"
    "mem2"
    "mem3"
    "mem4";
    padding: 0;
  }
  .about-teammate {
    width: 100%;
    margin: 0;
  } 
}