.about-wrapper {
  display: grid;
  grid-template-columns: 1fr;

  p {
    padding: 0 20px;
  }
}

.about-container {
  display: flex;
  flex-direction: column;
  background-color: white;
  min-height: 20vh;
  width: 100%;
  margin: 0;
  padding: 20px;
}

.about-container a {
  text-decoration: none;
}

.team-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "title title title title"
  "mem1 mem2 mem3 mem4";
}

.section-title {
  grid-area: title;
  padding-bottom: 20px;
}

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: lightgreen;
  border-radius: 100%;
  width: 6em;
  height: 6em;
  margin-bottom: 10px;
}

.team-member {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 0 20px;
  margin: 0 10px;
}

.about-teammate {
  color: $off-black;
  transition: 0.3s ease-in-out;
  cursor: pointer;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;

  &:hover{
    background: lightgreen;
    transition: 0.3s ease-in-out;
    box-shadow: 0px 5px 10px #888888;
    transform: scale(1.2, 1.2);
  }
}

@media (max-width: 1100px) {
  .about-teammate {
  width: 75%;
}
}

@media (max-width: 768px) {
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "title title"
    "mem1 mem2"
    "mem3 mem4";
  }
  .team-member {
    margin: 10px 0;
  }

  .about-teammate:hover {
    transform: scale(1.05, 1.05);
  }
}

@media (max-width: 600px) {
  .team-grid {
    display:grid;
    grid-template-columns: 1fr 1fr;
    // grid-template-rows: auto 100px;
    grid-template-areas:
    "title title"
    "mem1 mem2"
    "mem3 mem4";
    padding: 0;
  }

  
  .about-teammate:hover {
    transform: scale(1.05, 1.05);
  }
}

@media (max-width: 380px) {
  .circle-icon {
    width: 10em;
    height: 10em;
  }

  .team-grid {
    display:grid;
    grid-template-columns: 1fr;
    // grid-template-rows: auto 100px;
    grid-template-areas:
    "title"
    "mem1"
    "mem2"
    "mem3"
    "mem4";
    padding: 0;
  }
  .about-teammate {
  width: 100%;
  } 
}