// #fff
// #ebebeb
// #c5c5c5
// #EC484D
// #000

body {
  // background: #7f3f7f;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  // font-family: Helvetica Neue;
}

div.playlist-wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'image' 'fav' 'songs';
  font-family: 'Work Sans', sans-serif;
  background-color: #ebebeb;
  min-width: 250px;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
  z-index: 1;
}

.light {
  font-weight: 300;
  font-size: .85rem;
}

.image-container {
  grid-area: image;
  background-color: #6f9596;
  height: 80px;
  // width: calc(100% - 20px);
  display: grid;
  align-items: end;
  justify-content: center;
  border-bottom: solid 1px #666776;
  padding: 10px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: 'repeat . shuffle';
  // border-radius: 5px;
  // z-index: 4;
}

.fa-redo {
  grid-area: repeat;
  font-size: 1.25rem;
  z-index: 10;
}

.fa-random {
  grid-area: shuffle;
  justify-self: end;
  font-size: 1.25rem;
  z-index: 10 !important;
}

.fade{
    grid-area: fav;
    box-shadow: 0px 5px 10px 2px #0e1414;
    z-index: 2;
}

.fav-wrapper {
  grid-area: fav;
  display: grid;
  color: #fefefe;
  background-color: #374A50;
  // width: calc(100% - 20px);
  border-top: solid 1px #666776;
  padding: 10px 10px 0 10px;
  box-shadow: 0px -15px 60px 20px #374A50;
  z-index: 5;
}

.song-wrapper {
  grid-area: songs;
  display: grid;
  color: #fefefe;
  background-color: #374A50;
  // width: calc(100% - 12px);
  padding: 0 2px 0 10px;
  // border-radius: 5px;
  overflow-y: scroll;
  // padding-right: 20px;
}

.fav-songs-box {
  display: grid;
  // border-bottom: solid 1px #666776;
  grid-template-columns: 6fr 1fr;
  grid-template-areas: 'text searchicon';
  align-items: center;
  padding-bottom: 10px;
}

.text {
  grid-area: text;
}

.fa-search {
  grid-area: searchicon;
  justify-self: end;
  font-size: 1.25rem;
}

.song-box {
  display: grid;
  border-bottom: solid 1px #666776;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas: 'playpause text duration';
  align-items: center;
  padding: 10px 0 10px 0;
}

.song-box:hover {
  background-color: #2a3a3f;
}

// .song-box:focus {
//   background-color: #374A50;
// }

.fa-play,
.fa-pause {
  font-size: .85rem;
}

.song-box.text {
  grid-area: text;
}

.duration {
  grid-area: duration;
  justify-self: end;
}

i {
  color: #fefefe;
}

#scroll::-webkit-scrollbar-track
{
  // width: 6px;
  box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.0);
	background-color: #374A50;
}

#scroll::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

#scroll::-webkit-scrollbar-thumb
{
	// background-color: #31424f;
  background-color: transparent;
	// border: 2px solid #555555;
  border-radius: 10px;
}

.last-song {
  border-bottom: none;
}
