.profile-page-wrapper {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 0fr 1fr 1fr 1fr 1fr;
  // grid-template-rows: 10% 8% 15% 10% 25%;
  grid-template-areas:
  ". banner banner banner banner"
  ". welcome welcome . ."
  ". usernameedit usernameedit . ."
  ". savedvideos savedvideos . ."
  ". avatar avatar avatar avatar";
}

///////////////////////////////////////////////////////////////////////////////////////
// This class is called on to get all content 2vw from left edge of screen, the reason    
// is because we needed the border bottom in .profile-banner to span the entire length.
.twopercent-spacing {
  margin-left: 2vw;
}
.profile-banner {
  grid-area: banner;
  display: flex;
  width: 100%;
  background: linear-gradient(-90deg, $off-black, darken($off-white, 5%));
  border-bottom: 2px solid $off-black;
  
}
.welcome {
  grid-area: welcome;
}
.profile-username-edit {
  grid-area: usernameedit;
  display: block;
}

////////////////////////
// Username Edit Form //
.button {
  width: 180px;
  background-color: darken($off-white, 15%);
  font-size: 14px;
  font-weight: bold;
  border: 1px solid $off-black;
  border-radius: 5px;
}
.delete {
  background-color: $accent-red;
}
.form {
  display: inline;
}
.form__input {
  width: 350px;
  margin-left: 0;
  border: 1px solid #DDDDDD;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
}
.form__input:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

///////////////////////////////////////
// Delete Account Confirmation Modal //
.modalbut {
  grid-area: modal;
}
.warning-window {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); // Fallback color 
    background-color: rgba(0,0,0,0.4); // Black w/ opacity 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; // 15% from the top and centered
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

//////////////////////////
// Saved Videos Section //
.savedvideos {
  display: flex;
  grid-area: savedvideos;
  padding: 20px 0;
}

//////////////////////
// Avatar Selection //
.avatar-wrapper{
  display: flex;
  flex-direction: column;
  margin-right: 2vw;
}
.avatar-selection {
  grid-area: avatar;
}
.avatar-library {
  display: flex;
  flex-wrap: wrap;
  // border: 1px solid $off-black;
  box-shadow: 0px 0px 15px 1px #888888;
  // background: linear-gradient(darken($off-white, 5%), $off-black);
}
.avatar-library img {
  height: 15%;
  width: 15%;
  margin: 10px;
}