.saved-video-container {
  display: flex;
  flex-direction: column;
  min-width: 78vw;
}

.saved-video-list {
  display: flex;
  flex-wrap: wrap;
  margin-right: 2vw;
}

.saved-video-list-items {
  @include themify($themes) {
    box-shadow: 0px 0px 10px 1px themed('lightShadow');
    background-color: themed('savedVidBackground');
  }

  display: flex;
  flex-direction: column;
  margin: 15px 10px;
  width: 30%;
  min-width: 200px;
  text-align: center;
  // box-shadow: 0px 0px 10px 1px #888888;
  transition: 0.3s;

  .video-delete {
    opacity: 0;
    transition: 0.3s;
  }

  &:hover {
    @include themify($themes) {
      box-shadow: 0px 10px 10px 1px themed('lightShadow');
    }
    
    // box-shadow: 0px 10px 10px 1px #a7a6a6;
    transform: translateY(-10px);
    transition: 0.3s;

    .video-delete {
      opacity: 1;
      transition: 0.3s;
    }

    a {
      @include themify($themes) {
        color: themed('hoverColor');
      }
      // color: $accent-red;
      transition: 0.3s;
    }
  }

  a {
    @include themify($themes) {
      color: themed('textColor');
    }

    // color: $off-black;
    text-decoration: none;
    transition: 0.3s;
  }

  img {
    width: 100%;
  }
}

.video-delete {
  @include themify($themes) {
    background-color: themed('textColor');
    color: themed('textColorOpposite');
  }

  width: 20px;
  height: 20px;
  // background-color: $off-black;
  // color: $off-white;
  border: 2px solid transparent;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  border-radius: 100%;
  transform: translate(-10px, -10px);

  &:hover {
    background-color: $accent-red;
    transition:0.3s;
  }
}

@media (max-width: 768px) {
  .video-delete {
    opacity: 1 !important;
  }
}