.profile-page-wrapper {
  display: grid;
  grid-template-columns: 20vw 1fr 1fr 1fr 1fr;
  grid-template-rows: 65px 50px 225px 100px;
  grid-template-areas:
  ". banner banner banner banner"
  ". welcome welcome . ."
  ". usernameedit usernameedit . ."
  ". avatar avatar avatar .";

}
///////////////////////////////////////////////////////////////////////////////////////
// This class is called on to get all content 2vw from left edge of screen, the reason    is because we needed the border bottom in .profile-banner to span the entire length.
.twopercent-spacing {
  margin-left: 2vw;
}
.profile-banner {
  grid-area: banner;
  display: flex;
  width: 80vw; // 80vw is because 20vw dashboard, This makes the                                       underline cross the entire page
  background: linear-gradient(-90deg, $off-black, darken($off-white, 5%));
  border-bottom: 2px solid $off-black;
  
}
.welcome {
  grid-area: welcome;
}
.profile-username-edit {
  grid-area: usernameedit;
  display: block;
}

////////////////////////
// Username Edit Form //
.button {
  width: 180px;
  background-color: darken($off-white, 15%);
  font-size: 14px;
  font-weight: bold;
  border: 1px solid $off-black;
  border-radius: 5px;
}
.delete {
  background-color: $accent-red;
}
.form {
  display: inline;
}
.form__input {
  width: 350px;
  margin-left: 0;
  border: 1px solid #DDDDDD;
  transition: all 0.30s ease-in-out;
  -webkit-transition: all 0.30s ease-in-out;
}
.form__input:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

///////////////////////////////////////
// Delete Account Confirmation Modal //
.modalbut {
  grid-area: modal;
}
.warning-window {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); // Fallback color 
    background-color: rgba(0,0,0,0.4); // Black w/ opacity 
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; // 15% from the top and centered
    padding: 20px;
    border: 1px solid #888;
    width: 50%; 
}
.close-modal {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close-modal:hover,
.close-modal:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

//////////////////////
// Avatar Selection //
.avatar-selection {
  grid-area: avatar;
  display: flex;
}
.avatar-library {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border: 1px solid black;
}
.avatar-library img {
  height: 150px;
  width: 150px;
  margin: 10px;
}
.activeavatar {
  border: 3px solid $off-black;
  box-shadow: 0 0 5px $off-black;
  border-radius: 50%;
  transform: scale(1.05);
}