// #53384B
// #E6484B
// #caebf2
// #a9a9a9
// #ff3b3f
// #efefef

// #A9AAAA
// #EE4548
// #1CA7CE

footer {
  display: flex;
  justify-content: space-evenly;
  background-color: #EE4548;
  align-items: center;
  color: #fff;
  padding: 30px 0;
  font-family: "Open Sans", sans-serif;
  font-weight: 525;
  font-size: 16px;
  text-transform: uppercase;
}


footer div a {
  color: #fff;
  text-decoration: none;
}

footer div span {
  margin: 25px;
  display:inline-flex;
  justify-content: space-between;
}

div span.fa-layers {
	margin: 15px;
	display:inline-flex;
	background-color: transparent;
	width:64px;
	height: 64px;
  }

span.span {
  margin: 0;
  color: #F7C331;
  opacity: .75;
}

.fa-layers {
  display:flex-row;
}

span#circle1:hover svg {
  color: #4567AD;
  opacity: 0.8;
}

span#circle2:hover svg{
  color: #1276B0;
  opacity: 0.8;
}

span#circle3:hover svg{
  color: #562D78;
  opacity: 0.8;
}

span#circle4:hover svg{
  color: #dd4b39;
  opacity: 0.8;
}

@media (max-width: 1100px) {
	footer {
		flex-direction: column;
		margin-bottom:20px;
	}

	footer div.one {
		order: 1 !important;
		margin:0 0 20px 0;
		text-align: center;
		min-width: 320px;
	}
	footer div.two {
		order: 3 !important;
		text-align: center;
		min-width: 405px;
	}
	footer div.three {
		order: 2 !important;
		text-align: center;
		min-width: 405px;
	}
}

@media (max-width: 475px) {
	footer {
		flex-direction: column;
		margin-bottom:20px;
  }
  div span.fa-layers {
    margin: 3px;
  }
	footer div.one {
		order: 1 !important;
		margin:0 0 20px 0;
		text-align: center;
		min-width: 320px;
	}
	footer div.two {
		order: 3 !important;
		text-align: center;
		min-width: 320px;
	}
	footer div.three {
		order: 2 !important;
		text-align: center;
		min-width: 320px;
	}
}

@media (max-width: 375px) {
  .wrapper {
    padding: 0 5%;
    flex-basis:100vw;
  }
}
.fab {
  padding: 10px;
  font-size: 30px;
  width: 50px; /*should be 30px for circle but for some reason doesnt work, so made 58*/
  text-align: center;
  text-decoration: none;
  margin: 5px 2px !important;
  border-radius: 50%;
}

.fab:hover {
    opacity: 0.7;
}