* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: $bg-grey;
  min-width: 320px;
  font-family: 'ubuntu', sans-serif;
}

.button {
  border-radius: 2px;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    transition: 0.3s;
  }
}

/////////////////////
// Generic Classes //
.namered {
  @include themify($themes) {
    color: themed('hoverColor');
  }
}
.bold {
  font-style: normal;
  font-weight: bold;
}
.underline {
  text-decoration: underline;
}

.link {
  @include themify($themes) {
    color: themed('hoverColor');

    &:hover {
      color: themed('linkHoverColor');
    }
  }

  // color: $accent-red;
  transition: color .5s ease-out;
  -webkit-transition: color .5s ease-out;

  &:hover {
    // color: darken($accent-red, 20%);
    transition: color .5s ease-in;
    -webkit-transition: color .5s ease-in;
  }
}


//-----------------  Error Handling popup notification  -----------//
.error-popover {
  display: block;
  margin-top: -105px; // change to -105px if you have a header, otherwise -90
  margin-bottom: 20px;
  color: #fff;
  background-color: #ff323f;
  opacity: 1; //for viewing purposes only. should also make opacity of rest of page .8 when error shows.
  border: 0;
  border-radius: 5px;
  padding: 0;
  z-index: 1000;
  box-shadow: none;
  text-align: center;
  max-width: 200px;
  line-height: 1.5;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  word-wrap: break-word;
  transition: opacity .15s linear;
}

.arrow {
  left: 80px;
  bottom: -98px; // change to -98px if you have a header, otherwise -90px
  border: 0;
  position: relative;
  display: block;
  width: 40px;
  height: 5px;

  &:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #ff323f;
  }
}


.popover-header {
  text-align: center;
  border-bottom: 0 none;
  font-size: 15px;
  font-weight: normal;
  line-height: 22px;
  padding: 8px 15px 0px 15px; //uncomment if you want to add a header to error message, otherwise comment out
  margin: 0;
  color: #66615b;
  border-radius: 4px 4px 0 0;
  margin-bottom: -10px;
}

.popover-body {
  padding: 15px;
  text-align: center;
}

.close {
  position: relative;
  // right: -155px;
  right: -73px;
  top: -9px;
  // width: 32px;
  // height: 32px;
  opacity: 0.8;

  &:before,
  &:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 15px;
    width: 2px;
    background-color: #fff;
  }

  &:before {
    transform: rotate(45deg);
  }
  &:after {
    transform: rotate(-45deg);
  }

  &:hover {
    opacity: 1;
  }
}

//-----------------  End of Error Handling popup notification  -----------//