* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  background: $bg-grey;
  min-width: 320px;
}

body {
  font-family: sans-serif;
}

.button {
  border-radius: 3px;
  padding: 1em;
  outline: none;
  cursor: pointer;
}