// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Oswald');


// Colors
$off-black: #151515;
$off-white: #f3f3f3;
$bg-grey: #ececec;
$dark-text: #adadad;
$accent-red: #EE4548;
$accent-blue: #419ADF;
$accent-dark-blue: #2b3152;
$accent-light-blue: #59a7ff;
$accent-green: #70b854;
$accent-light-green: #C8CB5E;
$accent-purple: #a574ff;
$accent-yellow: #FBE178;
$accent-orange: #db6206;