// Fonts
@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,400i,500,700');
@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One');


// Colors
$off-black: #151515;
$off-white: #f3f3f3;
$bg-grey: #ececec;
$dark-text: #adadad;
$accent-red: #EE4548;
$accent-blue: #419ADF;
$accent-dark-blue: #2b3152;
$accent-light-blue: #59a7ff;
$accent-green: #70b854;
$accent-purple: #a574ff;
$gv-dark-blue: #5680E9;
$gv-teal: #84CEEB;
$gv-blue: #5AB9EA;
$gv-violet: #C1C8E4;
$gv-purple: #8860D0;

//transitions
$items: 5;
$transition-duration: 0.5s;
$transition-delay: 0.05s;

