.landing-page-title {
  justify-content: top;
  margin-top: 2%;
}
.searchbar-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10vh;
}
.landing-searchbar {
  outline: none;
  border: none;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background: white;
}
.landing-search {
  width: 100%;
  height: 100%;
  font-size: 26px;
  text-indent: 12px;
  outline: none;
  border: none;
}
.landing-search-icon {
  font-size: 1.5em;
  padding-left: .5em;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
  transition: 0.3s;

  &:hover {
    color: $accent-red;
    transition: 0.3s;
  }
}

@media screen and (min-width: 950px) and (max-width: 1360px) {

  .searchbar-wrapper {
  width: 75%;
  }
}
@media screen and (max-width: 949px) {
  .searchbar-wrapper {
  width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .landing-page {
    margin-left: 0;
  }
  // .page-wrapper {
  //   height: 50vh;
  // }
}