.post-landing-searchbar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 150px;
}
.post-landing-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.post-landing-video-pull {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 3%;
}
.individual-video-space {
  display: flex;
  flex-direction: column;
  width: 30%;
  cursor:pointer;

.individual-video-space:hover {
  background-color:rgba(0,0,0,0.2);
}

  h3 {
    margin: .5em 0 0 0;
  }
}
.post-search-video {
  display: flex;
  width: 100%;
}
.video-description {
  display: flex;
}

@media screen and (min-width: 950px) and (max-width: 1360px) {
  .individual-video-space {
    width: 45%;
  }
  .post-landing-searchbar-wrapper {
    width: 75%;
  }
}

@media screen and (max-width: 949px) {
  .individual-video-space {
    width: 80%;
  }
  .post-landing-searchbar-wrapper {
    width: 75%;
  }
}
@media screen and (max-width: 768px) {
  .post-landing-page {
    margin-left: 0;
  }
  .post-landing-searchbar-wrapper {
    width: 100%;
  }
}
@media screen and (max-width: 481px) {
  .post-search-video {
    width: 100%;
  }
}