.post-landing-page {
  width: 100%;
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'ubuntu', sans-serif;
}
.post-landing-searchbar-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 15%;
}
.post-landing-searchbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;
}
.post-landing-page .fa-search {
  position: absolute;
  left: 7px;
  font-size: 20px;
}
.post-landing-search {
  width: 100%;
  height: 100%;
  font-size: 26px;
  text-indent: 36px;
}
.post-landing-video-pull {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 90%;
  margin-top: 3%;
}
.individual-video-space {
  width: 30%;
}
.post-search-video {
  height: 200px;
  width: 300px;
}
.video-description {
  height: 60px;
  overflow: hidden;
}