.login-wrapper {
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.login-form__input {
  padding: 1em;
  margin: 0.5em;
  outline: none;
}

@media (max-width: 768px) {
  .login-wrapper {
    min-height: calc(100vh - 100px);
  }
}