.signup-wrapper {
  justify-content: center;

  h1 {
    margin: 0;
  }
}

.signup-form {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.signup-form__input {
  padding: 1em;
  margin: 0.5em;
  outline: none;
}

@media (max-width: 768px) {
  .signup-wrapper {
    min-height: calc(100vh - 100px);
  }
}