.dashboard {
  background: darken($bg-grey, 10%);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  width: 20vw;
  padding: 1em;
  font-family: 'Ubuntu', sans-serif;
  min-height: calc(100vh - 100px);

  h2 {
    font-size: 1.2em;
  }
}

.benefits-list {
  margin: 0;
  padding: 0 0 0 1em;

  li {
    margin: .2em 0;
    text-align: left;
    font-style: italic;
    font-weight: bold;
  }
}

.dashboard-bottom p {
  margin: 0.5em 0;
}

.dashboard-social-media {
  list-style-type: none;
  padding: 0;
  margin: 1em;
  display: flex;
  justify-content: center;

  li {
    font-size: 1em;
    margin: 0 .5em;
  }

  a {
    color: $off-black;

    &:hover {
      color: $accent-red;
    }
  }
}

.dashboard-link {
  color: $accent-red;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.geckos-credit {
  font-size: 0.75em;
}

// not visible in mobile/tablet view
@media (max-width: 768px) {
  .dashboard {
    display: none
  }
}