// Grid Settings //

// Baseline settings //
.navBar {
  display: grid;
  grid-template-columns: 400px auto;
  grid-template-rows: 100px;
  grid-template-areas:
    "logo nav-wrapper";
  min-width: 100%;
  position: fixed;
  font-family: 'ubuntu';
  background-color: white;
  z-index: 5;
}
.navBar a {
  text-decoration: none;
  color: black;
  font-size: 26px;
  transition: .5s color ease-in;
  -webkit-transition: .5s color ease-in;
}
.navBar a:hover {
  color: $accent-red;
  transition: .2s color ease-out;
  -webkit-transition: .2s color ease-in;
}
.navBar ul {
  list-style-type: none;
}
.navBar li {
  display: inline-block;
  padding: 2% 5%;
}

// LOGO AREA //
.logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "logo brand";
  justify-items: center;
  padding: 16px 0;
}
.logo img {
  display: block;
  max-height: 100%;
}

.icon {
  grid-area: logo;
}
.brand {
  grid-area: brand;
}

// NAV-WRAPPER AREA //
.nav-wrapper {
  grid-area: nav-wrapper;
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "nav . login";
  align-items: center;
}
.nav-list {
  grid-area: nav;
}
.login-list {
  grid-area: login;
  align-content: center;
  margin-right: 5%;
}
.login-list li {
  float: right;
}

// Hamburger Menu //

.hamburger {
  display: none;
}
.burger-links {
  display: none;
  z-index: 5;
  position: absolute;
  margin-top: calc(100px + 3%);
  width: 100%;
  background-color: darken($bg-grey, 75%);
}
.burger-links a {
  display: block;
  text-align: center;
  clear: right;
  color: white;
  padding: 1%;
}
.burger-links a:hover {
  color: $accent-red;
}
.hamburger-icon {
  margin-right: 5%;
  cursor: pointer;
}
.bar1, .bar2, .bar3 {
    width: 50px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

////////////////////////////////////
// This animation doesn't work yet(add class="change" to <div className="hamburger-icon" to see it) //
////////////////////////////////////
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
    background-color: $accent-red;
}

.change .bar2 {opacity: 0;}

.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
    background-color: $accent-red;
}

// Media Queries //

@media screen and (max-width: 768px) {
  .navBar {
  grid-template-areas:
    "logo hamburger";
  }
  .nav-wrapper {
    display: none;
  }
  .hamburger {
    grid-area: hamburger;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

}

@media screen and (max-width: 500px) {
  .navBar {
    grid-template-columns: 200px auto;
  }
  .brand {
    display: none;
  }
}