// Grid Settings //

// Baseline settings //
.navBar {
  @include themify($themes) {
    background-color: themed('navBarBackground');
    box-shadow: 0px 0px 5px 1px themed('lightShadow');
  }

  text-transform: uppercase;
  display: grid;
  grid-template-columns: .25fr auto;
  grid-template-rows: 75px;
  grid-template-areas:
    "logo nav-wrapper";
  min-width: 100%;
  position: fixed;
  font-family: 'ubuntu', sans-serif;
  // background-color: white;
  // box-shadow: 0px 1px 10px 0px darken($bg-grey, 10%);
  z-index: 5;
}

.navBar a {
  @include themify($themes) {
    color: darken(themed('dashBackground'), 10%);
  }

  text-decoration: none;
  font-size: 26px;
  transition: .5s color ease-in;
  -webkit-transition: .5s color ease-in;
}

.nav-item {
  color: #EC7263;
  letter-spacing: 0;
  justify-self: center;
}

.navBar a:hover {
  @include themify($themes) {
    color: themed('hoverColor');
  }

  // color: $accent-red;
  transition: .2s color ease-out;
  -webkit-transition: .2s color ease-in;
}
.navBar ul {
  display: flex;
  justify-self: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 16px 0;
  height: 75px;
}
.navBar li {
  display: inline-block;
  margin: auto 0;
  padding: 0 1em;
}

// LOGO AREA //
.logo {
  grid-area: logo;
  display: grid;
  grid-template-columns: .5fr 1fr;
  grid-template-areas:
  "logo brand";
  justify-items: center;
  padding: 1em 0;
  margin-left: 1em;
}
.logo img {
  display: block;
  max-height: 40px; // set fixed height (issue on other browsers)
  padding-right: .5em;
}

.icon {
  grid-area: logo;
}
.brand {
  font-family: 'ubuntu', sans-serif;
  margin: auto 0;
  grid-area: brand;
}

// NAV-WRAPPER AREA //
.nav-wrapper {
  grid-area: nav-wrapper;
  display: inline-grid;
  grid-template-columns: 1fr auto 1fr;
  grid-template-areas:
    "nav . login";
  align-items: center;
}
.nav-list {
  grid-area: nav;
}

.login-list {
  grid-area: login;
  align-content: center;
  margin-right: 5%;
}
.login-list li {
  float: right;
}

// Hamburger Menu //
.hamburger {
  display: none;
}
.burger-links {
  display: none;
  z-index: 5;
  position: absolute;
  // align-self: center;
  // margin-top: calc(100px + 3%);
  // width: 80%;
  // margin-top: calc(75px + 10%);
  width: 100%;
  background-color: darken($bg-grey, 75%);
}
.burger-links a {
  display: none;
  text-align: center;
  clear: right;
  color: white;
  padding: 0em;
}

.burger-links a:hover {
  @include themify($themes) {
    color: themed('hoverColor');
  }
  // color: $accent-red;
}
// .hamburger-icon {
//   margin-right: 5%;
//   cursor: pointer;
// }
.bar1, .bar2, .bar3, .bar4, .bar5 {
  @include themify($themes) {
    background-color: themed('navBarIcon');
  }

  width: 40px;
  height: 5px;
  // background-color: #333;
  margin: 6px 0;
  transition: 0.4s;
}

#toggle {
  position: absolute;
  left: -100%;
  top: -100%;
}

.toggle-off {
  display: none;
}

// Media Queries //

@media screen and (max-width: 768px) {
  .navBar {
    // grid-template-columns: 1fr auto 1fr;
    grid-template-areas: "logo hamburger hamburger";

    // a {
    //   @include themify($themes) {
    //     color: themed('navBarBackgound') !important;
    //   }
    // }
  }

  .nav-wrapper {
    height: 0;
    width: 0;
    display: none;
  }

  .hamburger {
    grid-area: hamburger;
    display: grid;
    // align-items: center;
    justify-self: flex-end;
    align-self: center;
    float: right;
    height: 40px;
    width: 40px;
    margin: 17px 17px;
    z-index: 5;
  }
  #toggle {
    background-color: green;
  }

    // unopened hamburger icon //
  .burger-links {
    width: 40px;
    height: 0px;
    top: 14px;
    right: 16px;
    display: inline-block;
    align-self: center;
    // Don't want pointer-events as menu is closed
    pointer-events: none;
    transition: $transition-duration;
    background: none;
  }

  // Showing nav items as lines, making up the hamburger icon
  .nav-item.two  {
    position: relative;
    display: inline-block;
    // float:left;
    // margin:0 0;
    clear: both;
    color: transparent;
    // letter-spacing: -6.2px;
    height: 0px; //space between each hamburger line
    line-height: 0px;
    text-transform: uppercase;
    white-space: nowrap;
    transform: scaleY(0.2); //thickness of hamburger lines
    transition: $transition-duration, opacity 1s;
    // z-index: 100;

    // Setting delays for the nav items in close transition
    @for $i from 1 through $items {
      &:nth-child(#{$i}) {
        $delay: ($i - 1) * $transition-delay;
        transition-delay: $delay;
        &:before {
          transition-delay: $delay;
        }
      }
    }

    // Adjusting width for the first line
    // &:nth-child(1) {
    //   letter-spacing: -8.5px;
    // }

    // Adjusting width for the second line
    // &:nth-child(2) {
      // letter-spacing: -6.25px;

    &.bar1 {    // this line of code is not working just yet
      letter-spacing: -6.25px;
      color: rgba(21, 21, 21, 0)
    }

    &.bar2 {    // this line of code is not working just yet
      letter-spacing: -6.5px;
      color: rgba(21, 21, 21, 0)
    }

    &.bar3 {    // this line of code is not working just yet
      // letter-spacing: -7.75px;
      color: rgba(21, 21, 21, 0)
    }

    &.bar4 {    // this line of code is not working just yet
      display: none;
    }

    &.bar5 {    // this line of code is not working just yet
      display: none;
    }
    // }

    // &:nth-child(3) {
    //   letter-spacing: -5px;
    // }

    // Getting the lines for the hamburger menu icon
    &:before {
      position: absolute;
      content: '';
      width: 100%;
      height: 3px;
      background-color: #2d2d2d;
      transform: translateY(-50%) scaleY(5);
      transition: $transition-duration;
    }
  }

  // #toggle:focus {
  //   & ~ .toggle-container .button-toggle {
  //     box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
  //   }
  // }

  .toggle-on {
    display: block;
    transform: translate(-220px, 150px); //controls where the links show up after clicking x vertically

        // Making the "X" icon using `:before` and `:after` pseudo-elements
    & ~ .toggle-container .button-toggle {
      // box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);

      // &:hover {
      //   box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
      // }

      &:before {
        transform: translateY(50%) rotate(45deg) scale(1);
      }

      &:after {
        transform: translateY(50%) rotate(-45deg) scale(1);
      }
    }

    // &:focus ~ .toggle-container .button-toggle {
    //   box-shadow: 0 0 0 550px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1), 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    // }

    // menu after clicking on hamburger //
    & ~ .burger-links {
      grid-area: navbar;
      pointer-events: auto;
      width: 100%;
      top: -25px;
      right: 30px;
      height: 0px;
      cursor: default;
      justify-content: center;
      text-align: center;
      align-self: auto;
      transform: translate(30px, 100px); //controls where the links show up after clicking x vertically
      background-color: darken($bg-grey, 75%);

      // Restoring nav items from "lines" in the menu icon
      & .nav-item.two  {
        color: #fff;
        letter-spacing: 0; //open hamburger links width
        height: 40px; //open hamburger links line height
        line-height: 40px; //how far down links show up
        margin: 0;
        width: 100%;
        opacity: 1;
        transform: scaleY(1); //open hamburger font height
        transition: $transition-duration, opacity 0.1s;

        &.bar4,
        &.bar5 {
          display: inline-block;
          &:before {
            transition-delay: 0.1s;  // sets delay for .05s after first three bars.
          }
        }

        // Setting delays for the nav items in open transition
        @for $i from 1 through $items {
          &:nth-child(#{$i}) {
            $delay: ($items - $i) * $transition-delay;
            transition-delay: $delay;
            &:before {
              transition-delay: $delay;
            }
          }
        }
  
        // Hiding the lines
        &:before {
          opacity: 0;
          width: 0px;
          height: 0px;
        }
      }

      .nav-item.two:hover {
        color: $accent-red;
      }
    }
  }

  .toggle-off {
    .button-toggle {
      // Shadow on hover
      &:hover {
        box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.0), inset 0 0 0 20px rgba(0, 0, 0, 0.0);
      }
    }
  }

  // Toggle button //
  .toggle-container {
    display: grid; // was auto and grid but don't think it works with this structure
    align-items: center;
    // justify-self: flex-end;
    justify-content: center;
  }

  // 'x' area size
  span.button {
    padding: 1em;
  }

  .button-toggle {
    position: absolute;
    display: inline-block; // was auto and grid but don't think it works with this structure
    align-items: center;
    top: 21.5px; //sets x into circle radius toggle-button
    right: 21.5px;
    width: 20px;
    height: 20px;
    cursor: pointer;
    border-radius: 100%;
    transition: $transition-duration + 0.1;

    // Shadow on hover
    &:hover {
      box-shadow: 0 0 0 8px rgba(0, 0, 0, 0.1), inset 0 0 0 20px rgba(0, 0, 0, 0.1);
    }

    // Making the "X" icon using `:before` and `:after` pseudo-elements
    // Initially hidden because `scale(0)` transformation

    &:before, &:after {
      position: absolute;
      content: '';
      top: 13.5px;
      left: 0px;
      width: 100%; //controls how much of the x you see
      height: 2.5px;
      background-color: #2d2d2d;
      border-radius: 5px;
      transition: $transition-duration;
    }

    &:before {
      transform: translateY(-50%) rotate(45deg) scale(0);
    }

    &:after {
      transform: translateY(-50%) rotate(-45deg) scale(0);
    }
  }
}

@media screen and (max-width: 500px) {
  .navBar {
    grid-template-columns: 200px auto;
  }
  .brand {
    display: none;
  }
}