@import './setup/variables';
@import './setup/base';

// Shared components
@import './layout/navbar';
@import './layout/footer';
@import './layout/dashboard';

// Initial landing/postlanding
@import './pages/landing/landing';
@import './pages/landing/postlanding';
@import './pages/landing/playvideo';

// Authentication
@import './pages/auth/login';
@import './pages/auth/signup';
@import './pages/auth/auth';

// Pages
@import './pages/mainpage';
@import './pages/about';

// Profile
@import './pages/user/profile';
@import './pages/user/playlist';
